* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(79, 100, 117);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    user-select: none;
    height: 550vh;
    width: 100vw;
    cursor: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgb(153, 153, 153);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 3px solid rgb(153, 153, 153);
}

nav {
    z-index: 9;
    width: 5vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    cursor: pointer;
    img {
        z-index: 2;
        margin-top: 2rem;
        width: 98%;
    }
    ul {
        list-style-type: none;
        z-index: 2;
        li {
            font-size: clamp(0.7rem, 3vw, 1.1rem);
            margin-bottom: 2rem;
            text-align: center;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.active {
    position: absolute;
    left: 0%;
    top: 50%;
    color: yellow;
    transform: translate(20%, -50%);
}

.home {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 100px;
    position: relative;
    #cursor_circle_home {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 79, 0.6);
        z-index: 4;
        clip-path: circle(0%);
    }
    .contrast {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
    }
    #hero-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: 2;
        .img {
            display: none;
        }
        img {
            display: block;
            position: absolute;
            top: -50vh;
            left: -50vw;
            width: 200%;
            height: 200%;
        }
    }
    .name {
        font-size: clamp(4rem, 3vw, 6rem);
        font-weight: 900;
        z-index: 5;
        p {
            color: white;
            height: clamp(4rem, 3vw, 6rem);
            line-height: clamp(4rem, 3vw, 6rem);
            transition: all 0.5s ease;
            &:nth-of-type(2n+1) {
                transform-style: preserve-3d;
                animation: slide-right 1s ease-in-out;
            }
            &:nth-of-type(2n) {
                transform-style: preserve-3d;
                animation: slide-left 1s ease-in-out;
            }
            &:hover {
                color: rgb(255, 255, 79);
                transform: translate3D(0, 0, 15px);
            }
        }
    }
}

@keyframes slide-right {
    from {
        transform: translate3D(-100vw, 0, 50px);
    }
    to {
        transform: translate3D(0%, 0%, 0px);
    }
}

@keyframes slide-left {
    from {
        transform: translate3D(100vw, 0, -60px);
    }
    to {
        transform: translate3D(0%, 0%, 0px);
    }
}

.home-about {
    width: 100%;
    height: 100vh;
    background-color: rgb(79, 100, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: none;
    #cursor_circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: yellow;
        clip-path: circle(0%);
        z-index: 1;
        animation: vibe 10s linear infinite;
        transition: all 0.1s;
    }
    .about {
        position: relative;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        box-shadow: none;
        border-radius: 25px;
        overflow: hidden;
        z-index: 2;
        .transitionRight {
            position: absolute;
            top: -50%;
            left: -50%;
            width: 210%;
            height: 200%;
            border-radius: 50%;
            z-index: 9;
            background-color: rgb(79, 100, 117);
        }
    }
    .home-about-heading {
        font-size: clamp(1.6rem, 3vw, 3.5rem);
        color: white;
        font-weight: 800;
        width: 100%;
        z-index: 2;
        svg {
            min-width: 100%;
            stroke: #fff;
            stroke-width: 0.2rem;
        }
    }
    .subText {
        text-align: justify;
        text-justify: inter-word;
        width: 100%;
        font-size: clamp(0.8rem, 3vw, 1.4rem);
        font-weight: 600;
        color: rgb(255, 255, 255);
        z-index: 2;
    }
}

@keyframes vibe {
    to {
        filter: hue-rotate(360deg);
    }
}

.events {
    position: relative;
    width: 100vw;
    height: 150vh;
    background-color: #245;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    cursor: none;
    #cursor_circle_events {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(226, 226, 226, 0.486);
        clip-path: circle(0%);
        z-index: -1;
        transition: all 0.1s;
    }
    .contrast2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 150vh;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: -99;
    }
    svg {
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        width: 100vw;
        transform: translateY(-1%) scale(1.01);
    }
    .highlightedText {
        font-size: clamp(2.75rem, 3vw, 5rem);
        animation: noir 1s ease infinite alternate-reverse;
        color: #f1f2f3;
        font-weight: 800;
        z-index: 3;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        span {
            font-size: clamp(1.6rem, 3vw, 2rem);
        }
    }
    img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        filter: brightness(80%);
        z-index: -2;
    }
}

@keyframes noir {
    to {
        filter: invert(15%);
    }
}

.pastEvents {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 41, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    #cursor_circle_pastevents {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 166, 0, 0.411);
        clip-path: circle(0%);
        z-index: 5;
    }
    .road-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        img {
            width: 100%;
            opacity: 0.05;
            height: 100%;
        }
    }
    .pastEvents__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 75%;
        height: 90%;
        .top-heading,
        .event-heading {
            width: 70%;
            font-size: clamp(1rem, 3vw, 2rem);
            color: white;
            margin-bottom: 1rem;
            z-index: 6;
        }
        .top-heading {
            font-size: clamp(1.5rem, 3vw, 2.2rem);
            color: rgb(251, 251, 0);
            display: flex;
            z-index: 3;
            .nowYouSeeMe {
                margin-left: 0.5rem;
                border-left: 0.5rem solid rgb(251, 251, 0);
                width: 60%;
                height: 100%;
                background: rgb(19, 39, 49);
                transform: translateX(-41%);
            }
        }
        .event-heading {
            margin-bottom: 1rem;
        }
        .image-carousel {
            position: relative;
            width: 70%;
            overflow: hidden;
            z-index: 6;
            cursor: default;
            img {
                width: 100%
            }
            button {
                position: absolute;
                top: 50%;
                border: none;
                padding: 0.8rem 1.1rem;
                background: transparent;
                transform: translateY(-50%);
                cursor: pointer;
                i {
                    font-size: clamp(2rem, 3vw, 3rem);
                    color: rgba(255, 255, 255, 0.5);
                }
                &:focus {
                    outline: none;
                }
                &:nth-of-type(1) {
                    left: 0.5rem;
                }
                &:nth-of-type(2) {
                    right: 0.5rem;
                }
                &:hover {
                    i {
                        color: rgba(255, 255, 79, 0.6);
                    }
                }
            }
        }
    }
}

.revealio {
    animation: revealio 3s ease-out forwards
}

.alohomora {
    animation: alohomora 1s ease-in-out forwards;
}

@keyframes revealio {
    to {
        transform: translate(200%, 200%);
    }
}

@keyframes alohomora {
    to {
        transform: translateX(0px);
    }
}

.team {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    h1 {
        font-size: 3.5rem;
        margin-top: 2rem;
        color: #1A2C32;
        span {
            display: inline-block;
            transition: all 0.7s;
            &:hover {
                transform: rotateY(180deg);
            }
        }
    }
    .card_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 100%;
        border-radius: 25px 25px 0 0;
        background-color: rgba(0, 0, 0, 0.4);
        position: relative;
        .team_image {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: url(../IMG/team1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            border-radius: 25px 25px 0 0;
            filter: blur(10px);
        }
        .container {
            height: 70%;
            width: 27.5%;
            background: linear-gradient(to right, #243B55, #141E30);
            border-radius: 25px;
            position: relative;
            //clip-path: circle(18.5% at 49.75% 26.5%);
            clip-path: circle(22% at center);
            transition: all 0.7s ease;
            .card {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .image-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    img {
                        width: 50%;
                        border-radius: 50%;
                    }
                }
                .name {
                    position: absolute;
                    top: 5%;
                    left: 10px;
                    text-align: center;
                    font-weight: 500;
                    font-size: 2rem;
                    color: white;
                    transition: color 0.3s;
                    &:hover {
                        color: yellow;
                    }
                }
                .card-info {
                    position: absolute;
                    left: 50%;
                    top: 70%;
                    transform: translate(-50%);
                    width: 80%;
                    font-size: 2rem;
                    font-family: poppins;
                    color: white;
                    .designatory {
                        font-size: 1.5rem;
                        transition: color 0.3s;
                        &:hover {
                            color: yellow;
                        }
                    }
                    .description {
                        font-size: 1rem;
                        transition: color 0.3s;
                        &:hover {
                            color: yellow;
                        }
                    }
                }
            }
            &:hover {
                clip-path: circle(70%);
                background: #3a7bd5;
                /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #3a6073, #3a7bd5);
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
        }
        .card_control {
            position: absolute;
            bottom: 2rem;
            left: 50%;
            transform: translate(-50%);
            input[type=radio] {
                margin: 0 10px;
            }
            input[type='radio']:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: #d1d3d1;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 1px solid white;
            }
            input[type='radio']:checked:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: yellow;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 1px solid white;
            }
        }
    }
}