* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #4f6475;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 550vh;
  width: 100vw;
  cursor: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #999999;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid #999999;
}

nav {
  z-index: 9;
  width: 5vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  -webkit-box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  cursor: pointer;
}

nav img {
  z-index: 2;
  margin-top: 2rem;
  width: 98%;
}

nav ul {
  list-style-type: none;
  z-index: 2;
}

nav ul li {
  font-size: clamp(0.7rem, 3vw, 1.1rem);
  margin-bottom: 2rem;
  text-align: center;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.active {
  position: absolute;
  left: 0%;
  top: 50%;
  color: yellow;
  -webkit-transform: translate(20%, -50%);
          transform: translate(20%, -50%);
}

.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 100px;
          perspective: 100px;
  position: relative;
}

.home #cursor_circle_home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 79, 0.6);
  z-index: 4;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
}

.home .contrast {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.home #hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}

.home #hero-container .img {
  display: none;
}

.home #hero-container img {
  display: block;
  position: absolute;
  top: -50vh;
  left: -50vw;
  width: 200%;
  height: 200%;
}

.home .name {
  font-size: clamp(4rem, 3vw, 6rem);
  font-weight: 900;
  z-index: 5;
}

.home .name p {
  color: white;
  height: clamp(4rem, 3vw, 6rem);
  line-height: clamp(4rem, 3vw, 6rem);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home .name p:nth-of-type(2n+1) {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: slide-right 1s ease-in-out;
          animation: slide-right 1s ease-in-out;
}

.home .name p:nth-of-type(2n) {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: slide-left 1s ease-in-out;
          animation: slide-left 1s ease-in-out;
}

.home .name p:hover {
  color: #ffff4f;
  -webkit-transform: translate3D(0, 0, 15px);
          transform: translate3D(0, 0, 15px);
}

@-webkit-keyframes slide-right {
  from {
    -webkit-transform: translate3D(-100vw, 0, 50px);
            transform: translate3D(-100vw, 0, 50px);
  }
  to {
    -webkit-transform: translate3D(0%, 0%, 0px);
            transform: translate3D(0%, 0%, 0px);
  }
}

@keyframes slide-right {
  from {
    -webkit-transform: translate3D(-100vw, 0, 50px);
            transform: translate3D(-100vw, 0, 50px);
  }
  to {
    -webkit-transform: translate3D(0%, 0%, 0px);
            transform: translate3D(0%, 0%, 0px);
  }
}

@-webkit-keyframes slide-left {
  from {
    -webkit-transform: translate3D(100vw, 0, -60px);
            transform: translate3D(100vw, 0, -60px);
  }
  to {
    -webkit-transform: translate3D(0%, 0%, 0px);
            transform: translate3D(0%, 0%, 0px);
  }
}

@keyframes slide-left {
  from {
    -webkit-transform: translate3D(100vw, 0, -60px);
            transform: translate3D(100vw, 0, -60px);
  }
  to {
    -webkit-transform: translate3D(0%, 0%, 0px);
            transform: translate3D(0%, 0%, 0px);
  }
}

.home-about {
  width: 100%;
  height: 100vh;
  background-color: #4f6475;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  cursor: none;
}

.home-about #cursor_circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  z-index: 1;
  -webkit-animation: vibe 10s linear infinite;
          animation: vibe 10s linear infinite;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.home-about .about {
  position: relative;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 25px;
  overflow: hidden;
  z-index: 2;
}

.home-about .about .transitionRight {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 210%;
  height: 200%;
  border-radius: 50%;
  z-index: 9;
  background-color: #4f6475;
}

.home-about .home-about-heading {
  font-size: clamp(1.6rem, 3vw, 3.5rem);
  color: white;
  font-weight: 800;
  width: 100%;
  z-index: 2;
}

.home-about .home-about-heading svg {
  min-width: 100%;
  stroke: #fff;
  stroke-width: 0.2rem;
}

.home-about .subText {
  text-align: justify;
  text-justify: inter-word;
  width: 100%;
  font-size: clamp(0.8rem, 3vw, 1.4rem);
  font-weight: 600;
  color: white;
  z-index: 2;
}

@-webkit-keyframes vibe {
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes vibe {
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.events {
  position: relative;
  width: 100vw;
  height: 150vh;
  background-color: #245;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  cursor: none;
}

.events #cursor_circle_events {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(226, 226, 226, 0.486);
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  z-index: -1;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.events .contrast2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 150vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -99;
}

.events svg {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100vw;
  -webkit-transform: translateY(-1%) scale(1.01);
          transform: translateY(-1%) scale(1.01);
}

.events .highlightedText {
  font-size: clamp(2.75rem, 3vw, 5rem);
  animation: noir 1s ease infinite alternate-reverse;
  color: #f1f2f3;
  font-weight: 800;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.events .highlightedText span {
  font-size: clamp(1.6rem, 3vw, 2rem);
}

.events img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  z-index: -2;
}

@-webkit-keyframes noir {
  to {
    -webkit-filter: invert(15%);
            filter: invert(15%);
  }
}

@keyframes noir {
  to {
    -webkit-filter: invert(15%);
            filter: invert(15%);
  }
}

.pastEvents {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #142933;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pastEvents #cursor_circle_pastevents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 166, 0, 0.411);
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  z-index: 5;
}

.pastEvents .road-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.pastEvents .road-image img {
  width: 100%;
  opacity: 0.05;
  height: 100%;
}

.pastEvents .pastEvents__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  height: 90%;
}

.pastEvents .pastEvents__container .top-heading,
.pastEvents .pastEvents__container .event-heading {
  width: 70%;
  font-size: clamp(1rem, 3vw, 2rem);
  color: white;
  margin-bottom: 1rem;
  z-index: 6;
}

.pastEvents .pastEvents__container .top-heading {
  font-size: clamp(1.5rem, 3vw, 2.2rem);
  color: #fbfb00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.pastEvents .pastEvents__container .top-heading .nowYouSeeMe {
  margin-left: 0.5rem;
  border-left: 0.5rem solid #fbfb00;
  width: 60%;
  height: 100%;
  background: #132731;
  -webkit-transform: translateX(-41%);
          transform: translateX(-41%);
}

.pastEvents .pastEvents__container .event-heading {
  margin-bottom: 1rem;
}

.pastEvents .pastEvents__container .image-carousel {
  position: relative;
  width: 70%;
  overflow: hidden;
  z-index: 6;
  cursor: default;
}

.pastEvents .pastEvents__container .image-carousel img {
  width: 100%;
}

.pastEvents .pastEvents__container .image-carousel button {
  position: absolute;
  top: 50%;
  border: none;
  padding: 0.8rem 1.1rem;
  background: transparent;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.pastEvents .pastEvents__container .image-carousel button i {
  font-size: clamp(2rem, 3vw, 3rem);
  color: rgba(255, 255, 255, 0.5);
}

.pastEvents .pastEvents__container .image-carousel button:focus {
  outline: none;
}

.pastEvents .pastEvents__container .image-carousel button:nth-of-type(1) {
  left: 0.5rem;
}

.pastEvents .pastEvents__container .image-carousel button:nth-of-type(2) {
  right: 0.5rem;
}

.pastEvents .pastEvents__container .image-carousel button:hover i {
  color: rgba(255, 255, 79, 0.6);
}

.revealio {
  -webkit-animation: revealio 3s ease-out forwards;
          animation: revealio 3s ease-out forwards;
}

.alohomora {
  -webkit-animation: alohomora 1s ease-in-out forwards;
          animation: alohomora 1s ease-in-out forwards;
}

@-webkit-keyframes revealio {
  to {
    -webkit-transform: translate(200%, 200%);
            transform: translate(200%, 200%);
  }
}

@keyframes revealio {
  to {
    -webkit-transform: translate(200%, 200%);
            transform: translate(200%, 200%);
  }
}

@-webkit-keyframes alohomora {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes alohomora {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.team {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team h1 {
  font-size: 3.5rem;
  margin-top: 2rem;
  color: #1A2C32;
}

.team h1 span {
  display: inline-block;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.team h1 span:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.team .card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 100%;
  border-radius: 25px 25px 0 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
}

.team .card_container .team_image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../IMG/team1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  border-radius: 25px 25px 0 0;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.team .card_container .container {
  height: 70%;
  width: 27.5%;
  background: -webkit-gradient(linear, left top, right top, from(#243B55), to(#141E30));
  background: linear-gradient(to right, #243B55, #141E30);
  border-radius: 25px;
  position: relative;
  -webkit-clip-path: circle(22% at center);
          clip-path: circle(22% at center);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.team .card_container .container .card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team .card_container .container .card .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team .card_container .container .card .image-container img {
  width: 50%;
  border-radius: 50%;
}

.team .card_container .container .card .name {
  position: absolute;
  top: 5%;
  left: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  color: white;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.team .card_container .container .card .name:hover {
  color: yellow;
}

.team .card_container .container .card .card-info {
  position: absolute;
  left: 50%;
  top: 70%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 80%;
  font-size: 2rem;
  font-family: poppins;
  color: white;
}

.team .card_container .container .card .card-info .designatory {
  font-size: 1.5rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.team .card_container .container .card .card-info .designatory:hover {
  color: yellow;
}

.team .card_container .container .card .card-info .description {
  font-size: 1rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.team .card_container .container .card .card-info .description:hover {
  color: yellow;
}

.team .card_container .container:hover {
  -webkit-clip-path: circle(70%);
          clip-path: circle(70%);
  background: #3a7bd5;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3a6073), to(#3a7bd5));
  background: linear-gradient(to right, #3a6073, #3a7bd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team .card_container .card_control {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.team .card_container .card_control input[type=radio] {
  margin: 0 10px;
}

.team .card_container .card_control input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

.team .card_container .card_control input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: yellow;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}
/*# sourceMappingURL=style.css.map */